DB_HOST=
DB_DRIVER=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

PORT=

APP_TZ=
GO_ENV=

RATE_LIMIT_ENABLED=
RATE_LIMIT_RPS=
RATE_LIMIT_BURST=
RATE_LIMIT_TTL_SECONDS=
RATE_LIMIT_ALLOWLIST=

GMAP_URL=
GMAP_KEY=

EMAIL_URL=

JWT_SECRET=
JWT_TTL_MINUTES=

API_URL_DEV=
API_URL_PROD=
