module.exports = {
  apps: [
    {
      name: "api-capbridge",
      cwd: "/home/api/api-capbridge",
      script: "./main",
      interpreter: "none",
      exec_mode: "fork",
      watch: false,
      out_file: "./logs/a.out.log",
      error_file: "./logs/a.err.log",
      env: {
        DB_HOST: "",
        DB_DRIVER: "mysql",
        DB_USER: "",
        DB_PASSWORD: "",
        DB_NAME: "capbridge",
        DB_STAGING_NAME: "capbridge_staging",
        DB_PG: "pg_capbridge",
        DB_PORT: "3306",
        PORT: "6565",
        GO_ENV: "production",
        EMAIL_URL: "",
        GMAP_URL: "",
        GMAP_KEY: "",
        JWT_SECRET: "",
        API_URL_DEV: "http://localhost:6565",
        API_URL_PROD: "",
        CALLBACK_URL: "",
        CALLBACK_PROJECT_PAYMENT: "",
        PAY_MIDTRANS: "",
      },
      env_staging: {
        GO_ENV: "staging",
        DB_NAME: "capbridge_staging",
        PORT: "6565",
        API_URL_STAGING: "",
        API_URL_PROD: "",
      },
      env_production: {
        GO_ENV: "production",
        DB_NAME: "capbridge",
        PORT: "6565",
        API_URL_PROD: "",
      },
    },
    {
      name: "api-capbridge-staging",
      cwd: "/home/api/api-capbridge",
      script: "./main",
      interpreter: "none",
      exec_mode: "fork",
      watch: false,
      out_file: "./logs/b.out.log",
      error_file: "./logs/b.err.log",
      env: {
        DB_HOST: "",
        DB_DRIVER: "mysql",
        DB_USER: "",
        DB_PASSWORD: "",
        DB_NAME: "capbridge",
        DB_STAGING_NAME: "capbridge_staging",
        DB_PG: "pg_capbridge",
        DB_PORT: "3306",
        PORT: "6565",
        GO_ENV: "staging",
        EMAIL_URL: "",
        GMAP_URL: "",
        GMAP_KEY: "",
        JWT_SECRET: "",
        API_URL_DEV: "",
        API_URL_PROD: "",
        CALLBACK_URL: "",
        CALLBACK_PROJECT_PAYMENT: "",
        PAY_MIDTRANS: "",
      },
      env_staging: {
        GO_ENV: "staging",
        DB_NAME: "capbridge_staging",
        PORT: "6566",
        API_URL_STAGING: "",
        API_URL_PROD: "",
      },
      env_production: {
        GO_ENV: "production",
        DB_NAME: "capbridge",
        PORT: "6566",
        API_URL_PROD: "",
      },
    },
  ],
};
